{% extends 'base.html.twig' %}

{% block title %}
    TOUS LES PRODUITS
{% endblock %}

{% block stylesheets %}
            
            <link href="{{ asset('css/cadre-admin.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}

    
    <main>
        <div class="container mt-4">

            <h1>Liste des produits</h1>

            <td>
                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    <a href=" {{path('product.new')}}" class="btn btn-success"> Enrégistrer un nouveau produit</a>
                </font>
    
             <td> <br><br>


            <table class="table table-hover">  
                    <thead>
                        <tr class="table-dark">
                            
                            <th scope="col">NOM</th>
                            <th scope="col">PRIX</th>
                            <th scope="col">EN STOCK</th>
                            <th scope="col">NATURE</th>
                            <th scope="col">VOIR</th>

                            {% if is_granted('ROLE_ADMIN') %}
                            <th scope="col">MODIFIER</th>
                            <th scope="col">SUPPRIMER</th>
                            {% endif %}
                           
                        </tr>
                    </thead>


                <tbody>
                    {% for prod in product %}
                    
                            <tr class="table-secondary">
                            
                            
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{prod.nameProduct}}</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{prod.priceProduct}}</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{prod.quantityProduct}}</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{prod.ToPossess.nameNature}}</font></font></td>
                            
                            
                            <td>
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    <a href=" {{path('product.show', {"id": prod.id})}}" class="btn btn-success"> 
                                        Voir
                                    </a>
                                </font>
                            
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{path('product.edit',{"id": prod.id})}}" class="btn btn-info">  
                                    Modifier
                                </a>
                            </td>

                            <td>
                                <a href="{{path('product.delete',{"id": prod.id})}}" class="btn btn-warning" onclick="return confirm('Voulez-vous supprimer cet article?')">
                                    Supprimer
                                </a>
                            </td>
                            </tr>
                        {% endif %}

                    {% else %}

                            <label>
                                Aucun produit enregistré à ce jour.
                            </label>

                    {% endfor %}
                    
                </tbody>
        </div>        
                 
    </main>
    
{% endblock body %}

