

{% extends 'base.html.twig' %}
    
{% block title %}Voir ce produit{% endblock %}

{% block body %}

        <a href="{{ path('product.list') }}"> <U>Retour à la liste des produits</U> </a> <br><br>ù

        <h1> Détails sur ce produit </h1>
        
        <div class="alert alert-success">

            <table>
            <td>
                <h4>Nom :</h4>{{product.nameProduct}} <br>  
                <h4>Prix:</h4> {{product.priceProduct}} <br>
                <h4>Nature:</h4> {{product.ToPossess.nameNature}} <br>
                <h4>Tva:</h4>{{product.vatProdut}} <br>
                <h4>Code:</h4> {{product.codeProduct}} <br>
                <h4>Quantité en stock:</h4> {{product.quantityProduct}} <br>
                <h4>Quantité d'alerte:</h4>{{product.quantityAlert}} <br>
            </td>
            <table>

        </div>

{% endblock body %}
