<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{path('product.list')}}">GestionStock</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">

                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                        <a class="nav-link active" href="{{path('product.list')}}">Gestion des produits </a> 
                        </li>

                        <li class="nav-item">
                        <a class="nav-link" href="#">Gestion utilisateurs</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion des produits</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{path('product.list')}}">Tous les produits</a>
                            <a class="dropdown-item" href="{{path('product.new')}}">créer un produit</a>
                            <a class="dropdown-item" href="#">Entrées et sorties</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                        </li>

                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" >Test</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Tous les utilisateurs</a>
                                <a class="dropdown-item" href="#">Enregistrer un utilisateur</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>

            {% if not app.user %}
                        <li class="nav-item">
                            <a href="{{path('security.login')}}" class="nav-link"> Connexion</a>
                        </li>
            
            {% else %}
                        <li class="nav-item">
                            <a href="{{path('security.logout')}}" class="nav-link"> Déconnexion</a>
                        </li>

            {% endif %}          

                    </ul>
                </div>
            </div>
        </nav>
